{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }} | Create a serie
{% endblock %}

{% block body %}
    <h2>Create a serie !</h2>

    {# affichage du formulaire #}
    {% embed 'view/form/serieForm.html.twig' %}
        {% block  buttonLabel1 %} Create a serie {% endblock %}
        {% block  buttonLabel2 %} Create a serie {% endblock %}
    {% endembed %}
{% endblock %}

