{% extends 'base.html.twig' %}
{% form_theme serieForm 'view/form_theme/beautiful.html.twig' %}

{% block title %}
    Add
{% endblock %}

{% block body %}
    <h2>Add a new serie !</h2>

    {#    {{ form(serieForm) }} #}

    {{ form_start(serieForm) }}
    {{ form_widget(serieForm) }}
    <button>Create !</button>
    {{ form_end(serieForm) }}

{% endblock %}

